
    $font-f1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   $font-f2: 'Courier New', Courier, monospace;
   $font-f3:  Arial, Helvetica, sans-serif;

   $size-0: 0rem;
   $size-1: 0.25rem;
   $size-2: 0.5rem;
   $size-3: 1rem;
   $size-4: 1.5rem;
   $size-5: 3rem;